

body {background-color: #d7e6cc;}

H1{font-family: sans-serif;
color: #56634d;
padding: 0px;
margin-top: 20px;
margin-bottom: 0px;}

.header {
position: relative;
left: 150px;
}

#line1 {font-family:"Lato Regular", "Courier New", monospace;
font-size: 15px;
color: #56634d;
position: relative;
width: 250px;
}

.text{float: right;
padding-right: 300px;
margin-top: 235px;}

.link{
font-family: monospace;
}

.img {
    float: left;
    width:  500px;
    height: 500px;
    object-fit: cover;
}



/* unvisited link */
a:link {
  color: #3a473c;
}

/* visited link */
a:visited {
  color: #7bad83;
}

/* mouse over link */
a:hover {
  color: #ffffff;
}

/* selected link */
a:active {
  color: #1c1717;
}










