h1 {
  color: black;
   float: center;
  margin: 200px;
  
}

img {
  width: 100px;
  float: left;
  margin: 15px;
  
}

.column {
  float: Left;
  width: 33.33%;
  padding: 5px;
}




p {

  padding: 20px 500px;
}
