

body {background-color: #d2e0d1;}

#line1 {font-family:"Lato Regular", "Courier New", monospace;
font-size: 15px;
margin: 40px;
color: #27382c;
position: relative;
width: 100px;}

#Footer {font-family:"Lato Regular", "Courier New", monospace;
font-size: 15px;
position: relative;}

#link
{padding-left: 100px;}

img {
    float: left;
    width:  400px;
    height: 400px;
    object-fit: cover;
}

.container:hover {
    color: blue;
}

/* unvisited link */
a:link {
  color: #304d30;
}

/* visited link */
a:visited {
  color: #ff4400;
}

/* mouse over link */
a:hover {
  color: #bfd4be;
}

/* selected link */
a:active {
  color: #304d30;
}










